@import "tailwindcss";


@media only screen and (min-width: 768px) {
    .swiper-wrapper {
        display: grid !important;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.formBackdrop {
    position: fixed;
    background: rgba(90, 90, 90, .6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.floatingBtn {
    position: fixed;
    bottom: 10%;
    right: 10%;
}